@import './mixins';

.header-background{

    @include parallaxBackground('../img/header/coding.jpg');

    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-item{
    padding: 0 10px;
    border-radius: 5px;
    &:hover{
        background: #eeeeee;
    }
}

@media only screen and (max-width: 700px) {

    .header-background{
        height: 250px;
    }


}