@import './variables';

@mixin flexCenter {

    display: flex;
    align-items: center;
    justify-content: center;

}

@mixin parallaxBackground($imgPath) {

    background-image: linear-gradient(
        $gradientFirstColor,
        $gradientSecondColor
    ), url($imgPath);

}

@mixin fitBackgroundIntoParallax {

    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}