@import './variables';

@mixin flexCenter {

    display: flex;
    align-items: center;
    justify-content: center;

}

@mixin parallaxBackground($imgPath) {

    background-image: linear-gradient(
        $gradientFirstColor,
        $gradientSecondColor
    ), url($imgPath);

}