.up-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: rgba(158, 33, 170, 0.7);
    font-size: 30px;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    position: fixed;
    right: 25px;
    bottom: 16px;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    cursor: pointer;
}

.up-button:hover{
    color: #fff;
}

.up-button.active{
    pointer-events: auto;
    opacity: 1;
}

@media only screen and (max-width: 1000px) {

    .up-button,
    .up-button.active{
        display: none;
        pointer-events: none;
    }

}