@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600&display=swap");
.typewriter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #303030;
  font-weight: 600;
  font-family: "Source Code Pro", monospace;
  font-size: 70px;
  margin-top: -50px;
}

@media only screen and (min-width: 1200px) {
  .typewriter span {
    position: relative;
  }
  .typewriter span::before, .typewriter span::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .typewriter span::before {
    background: #fff;
    -webkit-animation: typewriter 7s steps(26) 1s forwards;
            animation: typewriter 7s steps(26) 1s forwards;
  }
  .typewriter span::after {
    width: 0.1em;
    background: #303030;
    -webkit-animation: typewriter 7s steps(26) 1s forwards, blinker 0.75s steps(26) infinite;
            animation: typewriter 7s steps(26) 1s forwards, blinker 0.75s steps(26) infinite;
  }
  @-webkit-keyframes typewriter {
    to {
      left: 100%;
    }
  }
  @keyframes typewriter {
    to {
      left: 100%;
    }
  }
  @-webkit-keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  @-webkit-keyframes showAllHeaderEl {
    to {
      opacity: 1;
    }
  }
  @keyframes showAllHeaderEl {
    to {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 700px) {
  .typewriter {
    height: 250px;
  }
  .typewriter span {
    display: none;
  }
}

header {
  position: relative;
}

nav {
  opacity: 0;
  -webkit-animation: showAllHeaderEl 2s ease 8.5s forwards;
          animation: showAllHeaderEl 2s ease 8.5s forwards;
}

.header-background {
  background-color: #fff;
  height: 100vh;
}

.nav-item {
  padding: 0 10px;
  border-radius: 5px;
}

.nav-item:hover {
  background: #eeeeee;
}

header a.scroll-down-to-site {
  text-decoration: none;
  color: #303030;
  width: auto;
  font-size: 50px;
}

.scroll-down-to-site {
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translate(-50%, -50px);
          transform: translate(-50%, -50px);
  opacity: 0;
  -webkit-animation: showAllHeaderEl 2s ease 8.5s forwards;
          animation: showAllHeaderEl 2s ease 8.5s forwards;
}

header a.scroll-down-to-site i:hover {
  color: rgba(176, 33, 189, 0.5);
}

@media only screen and (max-width: 700px) {
  .header-background {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(176, 33, 189, 0.5)), to(rgba(139, 40, 78, 0.5))), url("../img/parallax/header.jpeg");
    background-image: linear-gradient(rgba(176, 33, 189, 0.5), rgba(139, 40, 78, 0.5)), url("../img/parallax/header.jpeg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 250px;
  }
  .scroll-down-to-site {
    display: none;
  }
}

@media only screen and (max-width: 1199px) {
  nav,
  .scroll-down-to-site {
    opacity: 1;
  }
}

.aboutme {
  min-height: 100vh;
}

.name-heading {
  font-size: 300%;
  letter-spacing: -1px;
  font-weight: 700;
  color: #303030;
  padding-top: 30px;
}

.experience {
  min-height: 100vh;
}

.exp__parallax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(176, 33, 189, 0.5)), to(rgba(139, 40, 78, 0.5))), url("../img/parallax/teamwork.jpeg");
  background-image: linear-gradient(rgba(176, 33, 189, 0.5), rgba(139, 40, 78, 0.5)), url("../img/parallax/teamwork.jpeg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}

.exp-card {
  padding: 20px;
  border: 2px solid rgba(176, 33, 189, 0.5);
  border-radius: 10px;
  position: relative;
}

.exp-card h5 {
  padding: 5px;
}

.exp-card h6 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.exp-card h5, .exp-card h6 {
  text-align: center;
}

.exp-card p {
  padding: 7px;
}

.exp-card a {
  display: block;
  position: absolute;
  bottom: 15px;
  right: 30px;
  color: #9e21aa;
}

.experience a.scroll-to-projects {
  text-decoration: none;
  color: #303030;
  width: auto;
}

a.scroll-to-projects i:hover {
  color: rgba(176, 33, 189, 0.5);
}

@media only screen and (max-width: 700px) {
  .exp {
    height: 250px;
  }
}

.skills__parallax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(176, 33, 189, 0.5)), to(rgba(139, 40, 78, 0.5))), url("../img/parallax/coding.jpeg");
  background-image: linear-gradient(rgba(176, 33, 189, 0.5), rgba(139, 40, 78, 0.5)), url("../img/parallax/coding.jpeg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}

.skills {
  min-height: 100vh;
  background: #fff;
}

.skills h4 {
  color: #303030;
}

.tech-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.gallery__item {
  position: relative;
  height: auto;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.gallery__item img {
  width: 100%;
}

.gallery__item:hover {
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .tech-gallery {
    display: block;
    margin-top: 0 !important;
  }
  .gallery__item {
    margin: 20px auto;
    width: 50%;
  }
}

.up-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  background-color: rgba(158, 33, 170, 0.7);
  font-size: 30px;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  position: fixed;
  right: 25px;
  bottom: 16px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}

.up-button:hover {
  color: #fff;
}

.up-button.active {
  pointer-events: auto;
  opacity: 1;
}

@media only screen and (max-width: 1000px) {
  .up-button,
  .up-button.active {
    display: none;
    pointer-events: none;
  }
}

.projects__parallax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(176, 33, 189, 0.5)), to(rgba(139, 40, 78, 0.5))), url("../img/parallax/project.jpg");
  background-image: linear-gradient(rgba(176, 33, 189, 0.5), rgba(139, 40, 78, 0.5)), url("../img/parallax/project.jpg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}

.projects {
  min-height: 100vh;
}

.project-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (max-width: 982px) {
  .project-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0 !important;
  }
}

.contact__parallax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(176, 33, 189, 0.5)), to(rgba(139, 40, 78, 0.5))), url("../img/parallax/contact.jpeg");
  background-image: linear-gradient(rgba(176, 33, 189, 0.5), rgba(139, 40, 78, 0.5)), url("../img/parallax/contact.jpeg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}

.submit-btn {
  background-color: #9e21aa;
  color: #fff;
}

.submit-btn:hover {
  color: #fff;
  background-color: rgba(158, 33, 170, 0.8);
}

/* Overwriting bootstrap form syles :// */
.form-control:focus ~ .form-label {
  color: #9e21aa !important;
}

.form-outline .form-control:focus ~ .form-notch .form-notch-middle {
  border-bottom: .125rem solid;
  border-color: #9e21aa;
}

.form-outline .form-control.active ~ .form-notch .form-notch-leading, .form-outline .form-control:focus ~ .form-notch .form-notch-leading {
  border-right: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.form-outline .form-control:focus ~ .form-notch .form-notch-leading {
  border-top: 0.125rem solid #9e21aa;
  border-bottom: 0.125rem solid #9e21aa;
  border-left: 0.125rem solid #9e21aa;
}

.form-outline .form-control.active ~ .form-notch .form-notch-trailing, .form-outline .form-control:focus ~ .form-notch .form-notch-trailing {
  border-left: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.form-outline .form-control:focus ~ .form-notch .form-notch-trailing {
  border-top: 0.125rem solid #9e21aa;
  border-bottom: 0.125rem solid #9e21aa;
  border-right: 0.125rem solid #9e21aa;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background-color: rgba(176, 33, 189, 0.5);
  color: #fff;
}

*::selection {
  background-color: rgba(176, 33, 189, 0.5);
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(158, 33, 170, 0.7);
  border-radius: 3px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  scroll-behavior: smooth;
}

.par {
  font-size: 125%;
  text-align: justify;
}

.center-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
/*# sourceMappingURL=main.css.map */