@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600&display=swap');
@import './header';
@import './aboutme';
@import './experience';
@import './skills';
@import './up-button';
@import './variables';
@import './projects';
@import './contact';

*{
    box-sizing: border-box;
}

*::selection{
    background-color: $gradientFirstColor;
    color: #fff;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(158, 33, 170, 0.7);
    border-radius: 3px;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    scroll-behavior: smooth;
}

.par{
    font-size: 125%;
    text-align: justify;
}

.center-elements{
    display: flex;
    justify-content: space-evenly;
}